.header{
    text-align: center;
    display: flex;
    border: solid 2px black;
    padding: 15px;
    width: 400px;
    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 15px grey;
}
img{
    margin-right: 17px;
    margin-left: 20px;
}
.menu{
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    padding: 15px;
    width: 400px;
    border-radius: 15px;
    margin: auto;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 15px grey;
    height: 350px;
}
button{
    padding: 30px;
    width: 300px;
    margin: 15px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    border: none;
    background-color:aqua;
    box-shadow: 2px 2px 15px grey;
}
body{
    background-color: rgb(213, 237, 255);
}
